.ListHeader {
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ListHead {
    flex: 1;
}

.ListData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem;
    width: 90%;
}


.OilList {
    width: 100%;
}

.OilCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.OilData {
    flex: 1;
    width: 100%;
    padding: 1rem;
}

.CardButton {
    width: 100%;
}